{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block header %}
<h1 class="display-4">{{ station.name }}</h1>
{% endblock %}

{% block content %}
<section>
  <h2>
    Export
    <small class="text-muted">Zeitraum wählen</small>
  </h2>
  <form action="/station/{{ station.dwd_id }}/export/target/">
  <div class="row">
      <div class="col-sm-6">
          <div class="form-group">
              <label for="datetimepicker-from">von</label>
              <div class="input-group" id="datetimepicker-from">
                  <input type="text" name="from" class="form-control" placeholder="yyyy-mm-dd">
                  <div class="input-group-append">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-sm-6">
          <div class="form-group">
              <label for="datetimepicker-to">bis</label>
              <div class="input-group" id="datetimepicker-to">
                  <input type="text" name="to" class="form-control" placeholder="yyyy-mm-dd">
                  <div class="input-group-append">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <button type="submit" class="btn btn-primary">Weiter</button>
  </form>
<section>
{% endblock %}

{% block foot %}
{% endblock %}
