{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block header %}
<h1 class="display-4">{{ station.name }}</h1>
{% endblock %}

{% block content %}
<section>
  <h2>
    Export
    <small class="text-muted">Format wählen</small>
  </h2>
  <div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="datetimepicker-from">von</label>
            <input type="date" value="{{ fr }}" class="form-control" id="datetimepicker-from" disabled>
        </div>
    </div>
      <div class="col-sm-6">
          <div class="form-group">
              <label for="datetimepicker-to">bis</label>
              <input type="date" value="{{ to }}" class="form-control" id="datetimepicker-to" disabled>
          </div>
      </div>
  </div>
  <div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">ce</h5>
        <p class="card-text"></p>
        <a href="/station/{{ station.dwd_id }}/export/target/ce.xlsx/?from={{ fr }}&to={{ to }}" class="btn btn-primary">xlsx</a> <a href="/station/{{ station.dwd_id }}/export/target/ce.csv/?from={{ fr }}&to={{ to }}" class="btn btn-primary">csv</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">dwd</h5>
        <p class="card-text"></p>
        <a href="/station/{{ station.dwd_id }}/export/target/dwd.xlsx/?from={{ fr }}&to={{ to }}" class="btn btn-primary">xlsx</a> <a href="/station/{{ station.dwd_id }}/export/target/dwd.csv/?from={{ fr }}&to={{ to }}" class="btn btn-primary">csv</a> <a href="/station/{{ station.dwd_id }}/export/target/dwd.txt/?from={{ fr }}&to={{ to }}" class="btn btn-primary">txt</a>
      </div>
    </div>
  </div>
</div>
</section>
{% endblock %}

{% block foot %}
{% endblock %}
