{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block header %}
<h1 class="display-4">{{ station.name }}</h1>
{% endblock %}

{% block content %}
<section>
  <h2>
    Export
    <small class="text-muted">Format wählen</small>
  </h2>
  <div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="datetimepicker-from">von</label>
            <div class="input-group" id="datetimepicker-from">
                <input type="text" value="{{ fr }}" class="form-control" placeholder="yyyy-mm-dd" disabled>
            </div>
        </div>
    </div>
      <div class="col-sm-6">
          <div class="form-group">
              <label for="datetimepicker-to">bis</label>
              <div class="input-group" id="datetimepicker-to">
                  <input type="text" value="{{ to }}" class="form-control" placeholder="yyyy-mm-dd" disabled>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">ce.csv</h5>
        <p class="card-text"></p>
        <a href="/station/{{ station.dwd_id }}/export/target/ce.csv/?from={{ fr }}&to={{ to }}" class="btn btn-primary">Download</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">dwd.txt</h5>
        <p class="card-text"></p>
        <a href="/station/{{ station.dwd_id }}/export/target/dwd.txt/?from={{ fr }}&to={{ to }}" class="btn btn-primary">Download</a>
      </div>
    </div>
  </div>
</div>
</section>
{% endblock %}

{% block foot %}
{% endblock %}
