[submodule "wetter/static/bootstrap"]
	path = wetter/static/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "wetter/static/jquery"]
	path = wetter/static/jquery
	url = https://github.com/jquery/jquery.git
[submodule "wetter/static/DataTables"]
	path = wetter/static/datatables
	url = https://github.com/DataTables/DataTables.git
[submodule "wetter/static/Leaflet"]
	path = wetter/static/Leaflet
	url = https://github.com/Leaflet/Leaflet.git
[submodule "wetter/static/moment"]
	path = wetter/static/moment
	url = https://github.com/moment/moment.git
[submodule "wetter/static/tempusdominus"]
	path = wetter/static/tempusdominus
	url = https://github.com/tempusdominus/bootstrap-4.git
